{% extends 'base.html' %}

<!-- Block Tags tell Jinja that this template should replace base template blocks-->


{% block header %}
    <h1>{% block title %} Register {% endblock %} </h1>
    <!-- Block title inside block header sets both window and page as same title, not needing to write it twice-->
{% endblock %}

{% block content %}
<form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
</form>
{% endblock %}